body{
    background-color: #ff8a8a;
}

.header {
    height: 100%;
    background-color: #324392;
    color: #ff8a8a;
}

#map {
    margin: 0 auto;
    height: 200px;
    width: 80%;
    align-content: center;
    margin-bottom: 20px;
    border: solid #fff;
}

.cont-restauran{
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.cont-restauran  img{
    width: 80px;
    height: 80px;
    margin-left: 0px;
    margin-right: 20px;
}

.cont-restauran  .texto title{
    margin: auto;
    margin-left: 20px;
    margin-bottom: 20px;
}

/*
.cont-restauran  .texto .light-italic{
    font-family: "Roboto Light";
}
*/

.cont-restauran  .texto .thin{
    font-weight: 100;
}